$white:#fff;
$shade-1:#FDFDFD;
$shade-2:#F4F4F4;
$shade-2-5:#E9E9E9;
$shade-3:#2D2D2D;
$shade-4:#535353;
$shade-6:#868686;
$accent:#FFC000;
$accent-dark:#F0B500;
$accent-overlay:rgba(255, 191, 0, 0.2);