@use 'colors';
@use 'external';

$fontSize1: 24px;
body {
  //   box-sizing: border-box;
}
* {
  font-family: "Roboto", sans-serif;
}
.column {
  //   border: 1px solid black;
  //   padding: 0;
}
.blank {
  height: 10px;
}
.blank_big {
  height: 100px;
}
.P0 {
  font-size: 24px;
}
.P1 {
  font-size: 20px;
}
.P2 {
  font-size: 18px;
}
.P3 {
  font-size: 15px;
}

.content {
  .column1 {
    @media screen and (max-width: 992px) {
      margin: auto 25px;
    }
    .column2 {
      //   padding: 0;
      //   @media screen and (max-width: 768px) {
      //     padding: 15px;
      //   }
      .info1 {
        #profilePic {
          width: 100px;
          height: 100px;
          margin-left: 16px;
        }

        .name_job {
          background-color: colors.$shade-1;
          width: 300px;
          height: 145px;
          margin-top: -50px;
          border: 1px solid colors.$shade-2;
          i {
            float: right;
            margin-right: 8px;
            margin-top: -2px;
            color: colors.$accent;
          }
          h1 {
            font-weight: bold;
            margin-top: 61px;
            margin-left: 16px;
          }
          p {
            margin-left: 16px;
          }
        }
      }
      .info2 {
        i {
          color: colors.$accent;
          margin-left: 4px;
        }
      }
      .info3 {
        p {
          font-weight: bold;
        }
        i {
          color: colors.$accent;
        }
      }
      .info4 {
        color: white;
        div {
          background-color: colors.$accent;
          border-radius: 5px;
          padding: 3px;
          width: 153px;
          border-bottom: 2px solid colors.$accent-dark;

          i {
            transform: rotateY(180deg);
            margin: 0 6px;
          }
        }
      }
      .info5 {
        p {
          font-weight: bold;
        }
        span {
          background-color: colors.$shade-1;
          border: solid 1px colors.$shade-2-5;
          border-radius: 14px;
          padding: 3px 20px;
          color: colors.$shade-6;
        }
      }
      .info6 {
        p {
          font-weight: bold;
        }
        .Badge {
          display: flex;
          //   justify-content: space-between;
          .levelParent {
            margin-left: 50px;
            .level {
              font-size: 14px;
              font-weight: bold;
              display: flex;
              justify-content: space-between;
            }
            .remainder {
              height: 2px;
              background-color: colors.$shade-2-5;
              width: 250px;
            }
            .progress {
              height: 4px;
              background-color: colors.$accent;
              width: 200px;
              margin-top: -3px;
            }
          }
        }
      }
    }
    .column3 {
      .column3_1 {
      }
      .column3_2 {
        // padding: 0;
        // @media screen and (max-width: 768px) {
        //   padding: 15px;
        // }
        .portfolio {
          p {
            font-weight: 500;
            margin-bottom: 4px;
          }
          img {
            //   width: 265px;
            //   height: 213px;
            padding: 10px;
          }
        }
        .comments {
          p {
            font-weight: 500;
          }
          .commentContent {
            font-weight: 300;
            margin-bottom: 0px;
          }
          .commentDate {
            color: colors.$shade-6;
            font-weight: 300;
            float: right;
          }
        }
      }
    }
  }
}
