@use 'colors';
@use 'external';
@use 'shared';
.Blank {
  width: 100%;
  height: 60px;
  background-color: white;
}

/***********************/
/**  Search Engine    **/
/***********************/
#contentSEARCH {
  width: 1300px;
  margin: auto;
  margin: 0 auto;
}

#Results {
  width: 70%;
}

#contantTitle {
  width: 50%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: #2D2D2D;
}

#contantTitle h1 {
  text-align: center;
}

#contantTitle #searchBarSEARCH {
  margin-top: 30px;
  margin-bottom: 30px;
}

#contantTitle #searchBarSEARCH .searchMenuSelect {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
  width: 210px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #868686;
  border: 1px solid #F4F4F4;
  background-color: #FDFDFD;
  cursor: pointer;
}

#contantTitle #searchBarSEARCH #searchMenuBtn {
  width: 210px;
  height: 60px;
  background-color: #FFC000;
  border: 1px solid #F0B500;
  border-bottom-width: 4px;
  cursor: pointer;
}

#contantTitle #searchBarSEARCH #searchMenuBtn span {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

#contantTitle #searchBarSEARCH #searchMenuBtn svg {
  margin-left: 7px;
}

#Resultcontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

#Resultcontainer #Results {
  width: 74%;
}

#Resultcontainer #sortEngine {
  height: 164px;
}

#Resultcontainer #sortEngine span {
  color: #868686;
  font-size: 14px;
  font-weight: lighter;
}

#Resultcontainer #sortEngine h2 {
  margin-top: 0;
}

#Resultcontainer #sortEngine #categories {
  margin-top: -14px;
}

#Resultcontainer #sortEngine #categories #categoriesBox {
  width: 50%;
  background-color: #F4F4F4;
  height: 35px;
}

#Resultcontainer #sortEngine #categories #categoriesBox p {
  text-decoration: underline;
  font-weight: bold;
  padding: 8px;
}

#Resultcontainer #sortEngine #categories .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  background-color: white;
  padding: -3px;
  width: 50%;
}

#Resultcontainer #sortEngine #categories .grid-container div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #F4F4F4;
  text-align: center;
  height: 42px;
}

#Resultcontainer #sortEngine #categories .grid-container div p {
  position: relative;
  top: -6px;
  color: #868686;
}

#Resultcontainer .OrderResult {
  position: relative;
  bottom: 35px;
  right: -560px;
  height: 35px;
  width: 150px;
  border: none;
  background-color: #E9E9E9;
}

#Resultcontainer .active {
  background-color: #FFC000;
  color: white;
}

#Resultcontainer .ResultProfiles {
  position: relative;
  top: -6px;
}

#Resultcontainer .ProfileFound {
  width: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  border: 1px solid #F4F4F4;
}

#Resultcontainer .ProfileFound .PictureProfile {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/P1.png");
  margin: 15px;
  border-radius: 10px;
}

#Resultcontainer .ProfileFound b {
  position: relative;
  top: 24px;
  left: 17px;
  font-size: 20px;
}

#Resultcontainer .ProfileFound button {
  position: relative;
  top: 35px;
  left: 17px;
  border-radius: 50px;
  background-color: #FDFDFD;
  border: 1px solid #E9E9E9;
  height: 20px;
}

#Resultcontainer .ProfileFound .City {
  position: relative;
  top: 35px;
  left: 17px;
  color: #FFC000;
}

#adertisment {
  width: 356px;
  border: 2px solid #FFC000;
  height: 790px;
  position: -webkit-sticky;
  position: sticky;
  top: 95px;
}

#adertisment .PremiemBox {
  position: relative;
  width: 100%;
  height: 48px;
  left: x;
  top: px;
  background: #FFC000;
  border-radius: 0px;
}

#adertisment .PremiemBox p {
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}

#adertisment .Adv {
  background-image: url(../img/Agence.png);
  background-size: auto !important;
  height: 250px;
  width: 250px;
  margin-top: 14%;
  margin-left: 14%;
  background-size: 250px;
}

#adertisment .Adv .overlay {
  width: 100%;
  height: 100%;
  background-color: #FDF1CA;
  opacity: 0.2;
}

#adertisment .Adv img {
  width: 100%;
  height: 100% !important;
  position: relative;
}

#adertisment .adName {
  margin-left: 14%;
  margin-top: 7px;
  font-weight: bold;
}

#adertisment .adAdress {
  margin-left: 14%;
  margin-top: -10px;
  color: #FFC000;
}
/*# sourceMappingURL=SearchResult.css.map */