body {
    display: flex;
    flex-direction: column;
}

// #navBarCont {
//     flex: none;
// }

// svg {
//     margin-top: 25px;
// }

#conteneurIdent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 175px;

    img {
        width: 90px;
        height: 90px;
        display: block;
    }

    #parag {
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 900;
    }

    .divInput {
        display: flex;
        //height: 50px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            flex: none;
            flex-direction: row;
            width: 440px;
            height: 50px;
            padding-left: 10px;
            background-color: rgba(235, 233, 233, 0.205);
            background: #FDFDFD;
            border: 1px solid #F4F4F4;
            font-family: 'Roboto', sans-serif;
            font-style: italic;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;


        }

        #divButt {
            width: 100%;
            height: 50px;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            #annulation {
                width: 220px;
                height: 50px;
                background-color: rgb(216, 216, 216);
                font-family: 'Roboto', sans-serif;
                color: #868686;
                background: #F4F4F4;
                border: 1px solid #E9E9E9;
                border-bottom: 3px solid #E9E9E9;
                font-weight: 500;
                font-size: 18px;
                letter-spacing: 0.02em;
                font-style: normal;
            }

            #confirmation {
                color: white;
                width: 220px;
                height: 50px;
                background-color: #FFC000;
                margin-left: 10px;
                font-family: 'Roboto', sans-serif;
                background: #FFC000;
                border: 1px solid #F0B500;
                border-bottom: 3px solid #F0B500;

                font-weight: 500;
                font-size: 18px;
                letter-spacing: 0.02em;
                font-style: normal;
            }
        }
    }

    #ligne1 {
        //margin-top: 123px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #parag2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #535353;
        margin: 0;

        span {
            text-decoration: underline;
            color: #FFC000;
        }
    }

    #parag3 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #2D2D2D;
    }
}

.blank {
    width: 100%;
    height: 90px;
}

#footerCont {
    flex: none;
    margin-top: 105px;
}

#navBarLinks {
    display: none;
}