body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#navBarCont {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media screen and (max-width: 1024px) {
  #navBarCont {
    width: 100%;
  }
}

@media screen and (max-width: 765px) {
  #navBarCont {
    width: 100%;
  }
}

#mobileLinks {
  display: none;
}

@media screen and (max-width: 424px) {
  #mobileLinks {
    margin-left: 140px;
  }
}

#conteneurIns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 90px;
}

#conteneurIns img {
  width: 90px;
  height: 90px;
  display: block;
}

#conteneurIns #parag {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 900;
}

#conteneurIns #ligne {
  margin-top: 390px;
}

#conteneurIns .divInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #868686;
}

@media screen and (max-width: 768px) {
  #conteneurIns .divInput {
    width: 95%;
  }
}

@media screen and (max-width: 425px) {
  #conteneurIns .divInput {
    width: 90%;
  }
}

#conteneurIns .divInput > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#conteneurIns .divInput > div input {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 440px;
  height: 50px;
  padding-left: 10px;
  background-color: rgba(235, 233, 233, 0.205);
  background: #FDFDFD;
  border: 1px solid #F4F4F4;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 768px) {
  #conteneurIns .divInput > div input {
    width: 340px;
  }
}

@media screen and (max-width: 425px) {
  #conteneurIns .divInput > div input {
    width: 300px;
  }
}

#conteneurIns .divInput > div .verif {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50px;
  height: 51px;
  background: #FDFDFD;
  border: 1px solid #F4F4F4;
  text-align: center;
}

#conteneurIns .divInput > div .verif img {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  margin-top: 25px;
}

#conteneurIns .divInput #divButt {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#conteneurIns .divInput #divButt #annulation {
  width: 250px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  color: #868686;
  background: #F4F4F4;
  border: 1px solid #E9E9E9;
  border-bottom: 3px solid #E9E9E9;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 768px) {
  #conteneurIns .divInput #divButt #annulation {
    width: 190px;
  }
}

@media screen and (max-width: 425px) {
  #conteneurIns .divInput #divButt #annulation {
    width: 175px;
  }
}

#conteneurIns .divInput #divButt #confirmation {
  color: white;
  width: 250px;
  height: 50px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  background: #FFC000;
  border: 1px solid #F0B500;
  border-bottom: 3px solid #F0B500;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 768px) {
  #conteneurIns .divInput #divButt #confirmation {
    width: 190px;
  }
}

@media screen and (max-width: 425px) {
  #conteneurIns .divInput #divButt #confirmation {
    width: 175px;
  }
}

#conteneurIns #parag2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #535353;
  margin-top: -3px;
}

#conteneurIns #parag2 span {
  text-decoration: underline;
  color: #FFC000;
}

#conteneurIns #parag3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #2D2D2D;
}

@media screen and (max-width: 768px) {
  #conteneurIns #parag3 {
    font-size: 26px;
    margin: 0 auto;
    margin-top: 40px;
  }
}

.blank {
  width: 100%;
  height: 90px;
}

#footerCont {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media screen and (max-width: 1024px) {
  #footerCont {
    width: 100%;
  }
}

@media screen and (max-width: 425) {
  #footerCont {
    width: 100%;
  }
}

@media screen and (max-width: 425) {
  #footerCont .mobileItem {
    width: 80px;
  }
}
/*# sourceMappingURL=Inscription.css.map */