body {
    display: flex;
    flex-direction: column;
}

#navBarCont {
    flex: none;

    @media screen and (max-width:1024px) {
        width: 100%;
    }

    @media screen and (max-width:765px) {
        width: 100%;
    }
}

// #navBarLinks {
//     @media screen and (max-width:1024px) {
//         margin-right: 40px;
//     }
// }

#mobileLinks {
    display: none;

    @media screen and (max-width:424px) {
        margin-left: 140px;
    }
}

#conteneurIns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    //height: auto;



    img {
        width: 90px;
        height: 90px;
        display: block;
    }

    #parag {
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 900;


    }

    .divInput {
        display: flex;
        height: 50px;
        width: 100%;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width:768px) {
            width: 95%;
        }

        @media screen and (max-width:425px) {
            width: 90%;
        }

        &>div {
            display: flex;
            flex-direction: row;

            input {
                flex: none;
                flex-direction: row;
                width: 440px;
                height: 50px;
                padding-left: 10px;
                background-color: rgba(235, 233, 233, 0.205);
                background: #FDFDFD;
                border: 1px solid #F4F4F4;

                @media screen and (max-width:768px) {
                    width: 340px;
                    // margin-top: 40px;
                }

                @media screen and (max-width:425px) {
                    width: 300px;
                    // margin-top: 40px;
                }

            }

            .verif {
                flex: none;
                width: 50px;
                height: 51px;
                background: #FDFDFD;
                border: 1px solid #F4F4F4;
                text-align: center;

                @media screen and (max-width:768px) {
                    //margin-top: 40px;
                }

                img {
                    width: 10px;
                    height: 10px;
                    margin: 0 auto;
                    margin-top: 25px;

                }

            }
        }

        #divButt {
            width: 100%;
            height: 50px;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            #annulation {
                width: 250px;
                height: 50px;
                font-family: 'Roboto', sans-serif;
                color: #868686;
                background: #F4F4F4;
                border: 1px solid #E9E9E9;
                border-bottom: 3px solid #E9E9E9;
                font-weight: 500;
                font-size: 18px;
                letter-spacing: 0.02em;

                @media screen and (max-width:768px) {
                    width: 190px;
                }

                @media screen and (max-width:425px) {
                    width: 175px;
                    // margin-top: 40px;
                }
            }

            #confirmation {
                color: white;
                width: 250px;
                height: 50px;
                margin-left: 10px;
                font-family: 'Roboto', sans-serif;
                background: #FFC000;
                border: 1px solid #F0B500;
                border-bottom: 3px solid #F0B500;
                font-weight: 500;
                font-size: 18px;
                letter-spacing: 0.02em;

                @media screen and (max-width:768px) {
                    width: 190px;
                }

                @media screen and (max-width:425px) {
                    width: 175px;
                    // margin-top: 40px;
                }
            }
        }
    }

    #ligne {
        margin-top: 300px;
    }

    #parag2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #535353;

        span {
            text-decoration: underline;
            color: #FFC000;
        }
    }

    #parag3 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #2D2D2D;

        @media screen and (max-width:768px) {

            font-size: 26px;
            margin: 0 auto;
            margin-top: 40px;
        }

    }
}

.blank {
    width: 100%;
    height: 90px;
}

#footerCont {
    flex: none;

    @media screen and (max-width:1024px) {
        //margin-top: 20px;
        width: 100%;
    }

    @media screen and (max-width:425) {
        //margin-top: 15px;
        width: 100%;
        //margin-top: 20px;
    }

    .mobileItem {
        @media screen and (max-width:425) {
            //margin-top: 15px;
            width: 80px;
        }

    }