@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#navBarCont {
  width: 100%;
  height: 70px;
  background-color: #FDFDFD;
  border-bottom: 1px solid #F4F4F4;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
}
@media screen and (max-width: 500px) {
  #navBarCont #navBar {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
  }
  #navBarCont #navBar #navBarLinks {
    display: none !important;
  }
  #navBarCont #navBar #mobileLinks {
    display: flex !important;
  }
}
#navBarCont #navBar {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#navBarCont #navBar #navBarLinks {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
#navBarCont #navBar #navBarLinks .navBarLink {
  margin: 0 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #2D2D2D;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
}
#navBarCont #navBar #navBarLinks .navBarLink::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #FFC000;
  transition: width 200ms;
}
#navBarCont #navBar #navBarLinks .navBarLink:hover::after {
  width: 100%;
}
#navBarCont #navBar #navBarLinks .navBarButton {
  color: #fff;
  background-color: #FFC000;
  padding: 7px 8px;
  border-radius: 5px;
  border-bottom: 2px solid #F0B500;
}
#navBarCont #navBar #navBarLinks .navBarButton::after {
  content: "";
  background: transparent;
}
#navBarCont #navBar #navBarLinks .navBarSeperator {
  width: 1px;
  height: 22px;
  background-color: #F4F4F4;
}
#navBarCont #navBar #mobileLinks {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  display: none;
}
#navBarCont #navBar #mobileLinks .mobileItem {
  background: #FFC000;
  border: none;
  padding: 6px 8px;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 3px;
  border-bottom: 2px solid #F0B500;
  transition: border-bottom 200ms ease-in-out;
}
#navBarCont #navBar #mobileLinks .mobileItem:active {
  border-width: 0px;
}
#navBarCont #navBar #mobileLinks .mobileItem:not(:last-child) {
  margin-right: 5px;
}
#navBarCont #navBar #mobileLinks #mobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  display: none;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #FDFDFD;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}
#navBarCont #navBar #mobileLinks #mobileMenu ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
#navBarCont #navBar #mobileLinks #mobileMenu ul li {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  transition: background-color 100ms ease-in-out;
}
#navBarCont #navBar #mobileLinks #mobileMenu ul li:not(:last-child) {
  border-bottom: 1px solid #E9E9E9;
}
#navBarCont #navBar #mobileLinks #mobileMenu ul li:hover {
  background-color: #F4F4F4;
}
#navBarCont #navBar #mobileLinks #mobileMenu ul li a {
  width: fit-content;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #535353;
}
@media screen and (max-width: 1350px) {
  #navBarCont #navBar {
    width: 1000px;
  }
}

#footerCont {
  width: 100%;
  height: 75px;
  background-color: #535353;
  border: 1px solid #2D2D2D;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
}
@media screen and (max-width: 500px) {
  #footerCont {
    height: 77px;
  }
  #footerCont #footer {
    position: relative;
    box-sizing: border-box;
    padding: 0 20px;
  }
  #footerCont #footer .footerLogo {
    margin-top: -15px;
  }
  #footerCont #footer .footerContent ul {
    margin-right: 0 !important;
  }
  #footerCont #footer .footerContent ul li a {
    font-size: 10px !important;
  }
  #footerCont #footer .footerContent .footerSocial {
    position: absolute;
    left: 24px;
    bottom: 0;
  }
  #footerCont #footer .footerContent .footerSocial span {
    display: none;
  }
}
#footerCont #footer {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#footerCont #footer .footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#footerCont #footer .footerContent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: initial;
}
#footerCont #footer .footerContent ul li a {
  color: #F4F4F4;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
#footerCont #footer .footerContent .footerSocial {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: flex-end;
}
#footerCont #footer .footerContent .footerSocial span {
  color: #F4F4F4;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
#footerCont #footer .footerContent .footerSocial .footerSocialCont {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: initial;
}
#footerCont #footer .footerContent .footerSocial .footerSocialCont a:not(:last-child) {
  margin-right: 5px;
}
@media screen and (max-width: 1350px) {
  #footerCont #footer {
    width: 1000px;
  }
}

/*# sourceMappingURL=navbar-footer.css.map */
