@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
.buttonStyle, .content .row .column1 .column3 .row1 .column3_2 .portfolio span div div, .content .row .column1 .column2 .info4 div {
  background-color: #FFC000;
  border-radius: 5px;
  padding: 3px;
  border-bottom: 3px solid #F0B500;
}

* {
  font-family: "Roboto", sans-serif;
}

.blank {
  height: 10px;
}

.blank_big {
  height: 100px;
}

.P0 {
  font-size: 24px;
}

.P1 {
  font-size: 20px;
}

.P2 {
  font-size: 18px;
}

.P3 {
  font-size: 15px;
}

@media screen and (max-width: 992px) {
  .content .row .column1 {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.content .row .column1 .column2 .info1 #profilePic {
  width: 100px;
  height: 100px;
  margin-left: 16px;
}
.content .row .column1 .column2 .info1 .name_job {
  background-color: #FDFDFD;
  width: 292px;
  margin-top: -50px;
  border: 1px solid #F4F4F4;
  padding-left: 16px;
}
@media screen and (max-width: 1200px) {
  .content .row .column1 .column2 .info1 .name_job {
    width: auto;
  }
}
.content .row .column1 .column2 .info1 .name_job i {
  float: right;
  margin-right: 4px;
  margin-top: 4px;
}
.content .row .column1 .column2 .info1 .name_job h1 {
  font-weight: bold;
}
.content .row .column1 .column2 .info1 .name_job :nth-child(2) {
  margin-top: 55px;
}
.content .row .column1 .column2 .info1 .name_job p {
  margin-bottom: 6px;
}
.content .row .column1 .column2 .info2 i {
  color: #FFC000;
  margin-left: 4px;
}
.content .row .column1 .column2 .info3 div {
  display: flex;
  justify-content: space-between;
}
.content .row .column1 .column2 .info3 div p {
  font-weight: bold;
}
.content .row .column1 .column2 .info3 div i {
  color: #FFC000;
}
.content .row .column1 .column2 .info4 {
  color: white;
}
.content .row .column1 .column2 .info4 div {
  width: 153px;
}
.content .row .column1 .column2 .info4 div i {
  transform: rotateY(180deg);
  margin: 0 6px;
}
.content .row .column1 .column2 .info5 p {
  font-weight: 500;
}
.content .row .column1 .column2 .info5 div i {
  display: flex;
  flex-wrap: wrap;
}
.content .row .column1 .column2 .info5 div i span {
  background-color: #FDFDFD;
  border: solid 1px #E9E9E9;
  border-radius: 14px;
  padding: 3px 15px;
  color: #868686;
  margin-right: 10px;
  margin-bottom: 10px;
}
.content .row .column1 .column2 .info6 p {
  font-weight: bold;
}
.content .row .column1 .column2 .info6 .Badge {
  display: flex;
}
.content .row .column1 .column2 .info6 .Badge .levelParent {
  margin-left: 50px;
}
.content .row .column1 .column2 .info6 .Badge .levelParent .level {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.content .row .column1 .column2 .info6 .Badge .levelParent .remainder {
  height: 2px;
  background-color: #E9E9E9;
  width: 250px;
}
.content .row .column1 .column2 .info6 .Badge .levelParent .progress {
  height: 4px;
  background-color: #FFC000;
  width: 200px;
  margin-top: -3px;
}
.content .row .column1 .column3 .row1 {
  display: flex;
  justify-content: flex-end;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio span p {
  font-weight: 500;
  margin-bottom: 0;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio span div {
  display: flex;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio span div div {
  color: white;
  margin-left: 14px;
  padding: 6px 11px 0 11px;
  font-size: 14px;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio span div div i {
  font-size: 20px;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio span div .addPics i {
  margin-right: 10px;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio .portfolioPics img {
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .content .row .column1 .column3 .row1 .column3_2 .portfolio .portfolioPics {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .content .row .column1 .column3 .row1 .column3_2 .portfolio .portfolioMobile {
    display: none;
  }
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio .portfolioMobile .portfolioPicsMobile {
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio .portfolioMobile .portfolioPicsMobile img {
  width: 240px;
  height: 193px;
  padding: 0;
  padding-right: 5px;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio .portfolioMobile .portfolioPicsMobile::-webkit-scrollbar {
  display: none;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio .portfolioMobile .portfolioArrowsMobile {
  position: absolute;
  margin-top: -130px;
  width: 100%;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio .portfolioMobile .portfolioArrowsMobile i {
  color: #FFC000;
  font-size: 60px;
  opacity: 0.4;
  cursor: pointer;
  position: relative;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio .portfolioMobile .portfolioArrowsMobile i:hover {
  opacity: 1;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio .portfolioMobile .portfolioArrowsMobile #portfolioArrowsMobile_left {
  left: -15px;
  visibility: hidden;
}
.content .row .column1 .column3 .row1 .column3_2 .portfolio .portfolioMobile .portfolioArrowsMobile #portfolioArrowsMobile_right {
  left: 15px;
  float: right;
}
.content .row .column1 .column3 .row1 .column3_2 .comments p {
  font-weight: 500;
}
.content .row .column1 .column3 .row1 .column3_2 .comments .commentContent {
  display: block;
}
.ClientComment{
  display: flex;
}
.content .row .column1 .column3 .row1 .column3_2 .comments .commentContent .commenterImg {
  margin-right: 10px;
}
.content .row .column1 .column3 .row1 .column3_2 .comments .commentContent .commenterInfo .commentOwner {
  margin-bottom: 6px;
}
.content .row .column1 .column3 .row1 .column3_2 .comments .commentContent .commenterInfo .commentText {
  font-weight: 300;
  margin-bottom: 0px;
}
.content .row .column1 .column3 .row1 .column3_2 .comments .commentContent .commenterInfo .commentDate {
  color: #868686;
  font-weight: 300;
  float: right;
}

#myModal {
  padding: 5% 7% !important;
}
#myModal .modal-content {
  width: 100%;
  height: 100%;
}
#myModal .modal-content .modal-body .imgsEndemble {
  width: 100%;
  height: 100%;
}
#myModal .modal-content .modal-body .imgsEndemble .singleImg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myModal .modal-content .modal-body .imgsEndemble .singleImg .img {
  width: 100%;
  height: 100%;
}
#myModal .modal-content .modal-body .imgsEndemble .singleImg .img img {
  width: 1613px;
  height: 562px;
}

/*# sourceMappingURL=ProfilBrikoleur.css.map */
